@model IEnumerable<myyandar.yHealth.BizData.MedPrescript>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrescDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrugName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicationPeriod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FurtherInstrs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrescDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicationPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FurtherInstrs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
